APP_HOST=0.0.0.0
APP_PORT=8080
USER_DB_HOST=vault_users
USER_DB=users
USER_DB_USER=replace-me-very-secret
USER_DB_PASS=replace-me-very-secret
SECRETS_DB_HOST=vault_secrets
SECRETS_DB=secrets
SECRETS_DB_USER=replace-me-very-secret
SECRETS_DB_PASS=replace-me-very-secret
MASTER_KEKS_JSON=[{"id":"k1","b64":"your_base64_master_key_here"}]
MASTER_KEK_PRIMARY_ID=k1
JWT_SECRET=replace-me-very-secret