APP_HOST=0.0.0.0
APP_PORT=8080
MASTER_KEKS_JSON=[{"id":"k1","b64":"your_base64_master_key_here"}]
MASTER_KEK_PRIMARY_ID=k1
JWT_SECRET=replace-me-very-secret
APP_DB_ROOT=
APP_DB_HOST=vault_secrets
APP_DB=
APP_DB_USER=
APP_DB_PASS=
SECRETS_DB_ROOT=
SECRETS_DB_HOST=vault_secrets
SECRETS_DB=
SECRETS_DB_USER=
SECRETS_DB_PASS=
